<div class="payment-method" style="bottom: 5%">
  <p style="font-size: 1rem; font-weight: bold">Secured Payment Gateways</p>
  <img
    src="../../../assets/cards/Visa_Inc._logo..png"
    alt="Visa"
    width="5%"
    height="7%"
    [ngClass]="{ 'flex-1 paymentVisa': fullWidth }"
  />&nbsp;&nbsp;
  <img
    src="../../../assets/cards/cb.jpg"
    alt="Carte bleue"
    width="2.5%"
    height="2%"
    [ngClass]="{ 'flex-1 paymentCb': fullWidth }"
  />&nbsp;&nbsp;
  <img
    src="../../../assets/cards/mastercard.png"
    alt="Master card"
    width="3%"
    height="2%"
    [ngClass]="{ 'flex-1 paymentMasterCard': fullWidth }"
  />&nbsp;&nbsp;
  <img
    src="../../../assets/cards/oney.png"
    alt="Oney"
    width="4%"
    height="3%"
    [ngClass]="{ 'flex-1 paymentOney': fullWidth }"
  />
</div>
